@inject SteamService SteamService

<div class="card" style="background-color: black;">
	<div class="card-header" style="background-color: black;">
		<span class="card-subtitle">@Status</span>
	</div>
	<img class="card-img-top" src="@AvatarSource" alt="Avatar" />
	<div class="card-body">
		<p class="card-title" style="font-weight: bold">@Name</p>
	</div>
	<div class="card-footer d-flex flex-column flex-wrap gap-2">
		<button class="btn btn-dark py-1" type="button" @onclick="OnCompareClick">Compare</button>
		<a class="btn btn-dark" href="@ProfileUrl" target="_blank" rel="noopener noreferrer">View Profile</a>
	</div>
</div>

@code {
	[Parameter]
	public string AvatarSource { get; set; } = string.Empty;

	[Parameter]
	public string Name { get; set; } = string.Empty;

	[Parameter]
	public string Status { get; set; } = string.Empty;

	[Parameter]
	public string ProfileUrl { get; set; } = string.Empty;

	[Parameter]
	public string SteamId { get; set; } = string.Empty;

	[Parameter]
	public EventCallback<string> OnCompareCallback { get; set; }

	// Calls the parent's method 'GetOwnedGames'
	private async Task OnCompareClick()
	{
		await OnCompareCallback.InvokeAsync(SteamId);
	}
}
