<div class="container d-flex flex-row flex-wrap gap-4">
	<img src="@AvatarSource" alt="Avatar" />
	<div class="d-flex flex-column justify-content-center gap-3">
		<h3>@Name</h3>
		<h3>@Status</h3>
	</div>
</div>

<hr />

@code {
	[Parameter]
	public string AvatarSource { get; set; } = string.Empty;

	[Parameter]
	public string Name { get; set; } = string.Empty;

	[Parameter]
	public string Status { get; set; } = string.Empty;

	[Parameter]
	public string ProfileUrl { get; set; } = string.Empty;
}
